Flask==3.0.0
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.1.1
python-socketio==5.10.0
python-engineio==4.8.1
Werkzeug==3.0.1
simple-websocket
qrcode[pil]==7.4.2

# Production / deployment
gunicorn==20.1.0
gevent==23.9.1
gevent-websocket==0.10.1

# Local env file support
python-dotenv==1.0.0
